
body{
	display: flex;
	position: relative;
	background-color: rgb(220, 200, 200);
	flex-wrap: wrap;
	margin: 0;
	font-family: ui-sans-serif, system-ui, sans-serif;
	font-feature-settings: normal;
	font-variation-settings: normal;
	box-sizing: border-box;
}

header{
	position: fixed;
	z-index: 999;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	background-color: rgb(156 163 175);
}

nav{
	flex-grow: 1;
	max-width: 800px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	color: white;
	
	padding: 0.25rem;
}

.nav-logo{
	height: 3rem;
	margin-bottom: -0.125rem;
}

#header-spacer{
	height: 3.375rem;
	background-color: red;
	flex-basis: 100%;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
}

.titleContainer{
	flex-shrink: 1;
	flex-grow: 1;
	
	background-color: rgba(255, 100, 80, 1);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
}

.titleContainer h1{
	margin: auto;
	text-align: center;
	
	color: white;
	font-weight: bold;
	font-size: 2.25rem;
}

.formContainer{
	flex: 1 1 0;
}

form{
	display: flex;
	flex-direction: column;
	align-items: flext-start;
}

form h2{
	width: 100%;
	text-align: center;
}

form p{
	margin-top: 0.5rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}


form input:not([type="submit"]){
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 80%;
}

form textarea{
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 80%;
	height: 5rem;
	resize: none;
}

form input[type="submit"]{
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 100px;
}

@media (max-width:42rem){
	.titleContainer{
		flex-basis: 100%;
		height: 20rem;
	}
	
	.titleContainer h1{
		line-height: 20rem;
	}
}

@media ((min-width:42.001rem) and (max-width:71rem)) {
	.titleContainer{
		flex-basis: 100%;
		height: 30rem;
	}
	
	.titleContainer h1{
		line-height: 30rem;
	}
}

@media (min-width:71.001rem) {
	
	main{
		justify-content: center;
	}
	
	.titleContainer{
		max-width: 50rem;
		height: 30rem;
	}
	
	.titleContainer h1{
		line-height: 30rem;
	}
	
	.formContainer{
		flex-grow: 0;
		margin-right: 3rem;
	}
	form p{
		width: 35rem;/**/
	}
}
	/*min-width: 30rem;*/