
/*

	This file contains generic styling rules applied to multiple different pages on the site

*/

*{
	box-sizing: border-box;
	font-family: ui-sans-serif, system-ui, sans-serif;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

body{
	display: flex;
	position: relative;
	background-color: rgb(220, 200, 200);
	flex-wrap: wrap;
	margin: 0;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
}

/* A container for an h1 that allows for a background image */
.titleContainer{
	flex-shrink: 1;
	flex-grow: 1;
	
	background-color: rgb(255, 100, 80);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	
	white-space: nowrap
}

.titleContainer h1{
	margin: auto;
	text-align: center;
	
	color: white;
	font-weight: bold;
	font-size: 2.25rem;
}


/* Rules for forms and a container meant to be placed at the top of the page */
.secondaryContainer{
	flex: 1 1 0;
	margin-bottom: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: flext-start;
}

form{
	display: flex;
	flex-direction: column;
	align-items: flext-start;
}

.secondaryContainer h2{
	width: 100%;
	text-align: center;
}

.secondaryContainer p{
	margin-top: 0.5rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}


form input:not([type="submit"]){
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 80%;
}

form textarea{
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 80%;
	height: 5rem;
	resize: none;
	font-size: 0.75rem;
}

.dropShadowBtn{
	margin-top: 0.5rem;
	margin-left: 10%;
	width: 100px;
	background-color: rgb(150, 100, 80);
	border: none;
	color: white;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	
	cursor: pointer;
	
}

.dropShadowBtn:hover{
	box-shadow: 0.01rem 0.01rem 0.375rem black;
}

/* A button that goes under (or alongside depending on screen size) the first grouping of content */
.barButton{
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: white;
	background-color: rgb(170, 100, 80);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	
	padding-left: 1rem;
	padding-right: 1rem;
	width: 10rem;
	
	cursor: pointer;
}

.barButton:hover{
	background-color: rgb(120, 80, 70);
	color: rgb(90, 50, 80);
}

/* Container for content that takes up the full width of the page */
.extra{
	flex-basis: 100%;
	margin-top: 2rem;
}

/* A table that alternates background color every other cell */
#everyOtherTable {
	text-align: center;
	table-layout: fixed;
	width: 100%;
	max-width: 70rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}

#everyOtherTable tr{
	height: 15rem;
}

#everyOtherTable td{
	padding: 0.375rem;
}

#everyOtherTable tr:nth-child(odd) td:nth-child(odd), #everyOtherTable tr:nth-child(even) td:nth-child(even){
	background-color: #FFFFFF;
}

#everyOtherTable tr:nth-child(odd) td:nth-child(even), #everyOtherTable tr:nth-child(even) td:nth-child(odd){
	background-color: #f0f0f0;
}

footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgb(0,0,0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer *{
	margin: 0;
	color: white;
	line-height: 1.5;
}

footer a{
	text-decoration: underline;
	cursor: pointer;
}

/* Adds spacing to make footer positioned a bit better */
#footerSpacer{
	height: 6rem;
	width: 100%;
	background-color: red;
}

/* Extra rules for a small screen */
@media (max-width:42rem){
	.titleContainer{
		flex-basis: 100%;
		height: 20rem;
	}
	
	.titleContainer h1{
		line-height: 20rem;
	}
	
	.barButton{
		padding: 1rem;
		flex-basis: 100%;
		height: 5rem;
	}
	
	#everyOtherTable td{
		height: 10rem;
		display: table-row;
	}
}

/* Extra rules for a medium screen */
@media ((min-width:42.001rem) and (max-width:71rem)) {
	.titleContainer{
		flex-basis: 100%;
		height: 30rem;
	}
	
	.titleContainer h1{
		line-height: 30rem;
	}
}

/* Extra rules for a large screen */
@media (min-width:71.001rem) {
	
	main{
		justify-content: center;
	}
	
	.titleContainer{
		max-width: 50rem;
		height: 30rem;
	}
	
	.titleContainer h1{
		line-height: 30rem;
	}
	
	.secondaryContainer{
		flex-grow: 0;
		margin-right: 3rem;
	}
	
	.secondaryContainer p{
		width: 35rem;
	}
	
}